@import "style/style.css";

body {
   font-family: "Raleway", sans-serif;
  line-height: 1;
  font-size: 16px;
  color: #000000;
   background-color: rgb(239, 239, 239);
}


.desc {
  border: 1px solid rgb(204, 102, 102);
}

.desc th {
  font-weight: normal;
   color: rgb(153, 8, 0);
   padding: 10px;
   background: #d09595;
}

.desc td {
  color: rgb(125, 68, 83);
   border-top: 1px dashed white;
   padding: 10px;
   background:#e5a4b1;
}

.desc tr:hover td {
  background: #ff99ac;
}

.asc {
  border: 1px solid rgb(117, 204, 102);
}

.asc th {
  font-weight: normal;
   color: rgb(0, 153, 59);
   padding: 10px;
   background: #aed095;
}

.asc td {
  color: rgb(68, 125, 80);
   border-top: 1px dashed white;
   padding: 10px;
   background:#a4e5b7;
}

.asc tr:hover td {
  background: #99ffbd;
}

table {
   border: 1px solid #69c;
 }
 th {
   font-weight: normal;
   color: #039;
   padding: 10px;
   background: #95b8d0;
 }
 td {
   color: rgb(68, 68, 125);
   border-top: 1px dashed white;
   padding: 10px;
   background:#a4cbe5;
 }
 tr:hover td {
   background: #99bcff;
 }

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.map_wrapper {
  position: relative;
}
.map_wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.district {
  fill: none;
  stroke: none;
  stroke-width: 2px;
  cursor: pointer;
  pointer-events: all;
}

.region {
 fill: none;
  stroke: none;
  stroke-width: 2px;
  cursor: pointer;
  pointer-events: all;
}

.region:hover {
 animation: highlightRegion 3s linear infinite;
}

@keyframes highlightRegion {
 0% {
    stroke: none;
 }
 25% {
    stroke: rgb(255, 255, 255);
 }
 50% {
    stroke: rgb(255, 0, 0);
 }
 75% {
    stroke: rgb(255, 255, 255);
 }
 100% {
    stroke: none;
 }
}

.district:hover {
   animation: highlightDistrict 3s linear infinite;
}

@keyframes highlightDistrict {
  0% {
     stroke: none;
  }
  25% {
     stroke: rgb(255, 255, 255);
  }
  50% {
     stroke: rgb(255, 0, 0);
  }
  75% {
     stroke: rgb(255, 255, 255);
  }
  100% {
     stroke: none;
  }
}

.tooltip {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.info_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.3s all;
  pointer-events: none;
  z-index: 10;
}

.info_bg.active {
  pointer-events: all;
  opacity: 1;
  transition: 0.3s all;
}

.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 20px;
  padding: 25px;
  width: 500px;
}
.middle {
  text-align: center;
}

