html {
  overflow-x: hidden; }

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.8;
  font-size: 16px;
  background-color: white;
  color: #859196;
  
}

a {
  margin: 10px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #4586FF; }
  a:hover {
    text-decoration: none;
    color: #4586FF; }

h1, h2, h3, h5, .h3 {
  line-height: 1.45;
  font-weight: normal;
  color: #000; }

.ftco-navbar-light {
  background: transparent !important;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3; }
  @media screen and (max-width: 991px) {
    .ftco-navbar-light {
      background: #000 !important;
      top: 0;
      position: relative; } }
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px; }
    @media screen and (max-width: 960px) {
      .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px; } }
  .ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em; }

.navbar-brand {
  text-transform: uppercase;
  letter-spacing: .1em; }

.ftco-cover {
  background-size: cover;
  background-repeat: no-repeat; }

.ftco-cover {
  background-position: center center; }
  .ftco-cover .ftco-heading {
    font-size: 45px;
    line-height: 1.34;
    color: #fff; }
    @media screen and (max-width: 768px) {
      .ftco-cover .ftco-heading {
        font-size: 37px;
        line-height: 1.3; } }
  .ftco-cover p {
    color: rgba(255, 255, 255, 0.5); }
  @media screen and (max-width: 768px) {
    .ftco-cover .btn {
      width: 100% !important;
      border: 1px solid red; } }
  .ftco-cover a {
    position: relative;
    color: #fff; }
    .ftco-cover a:before {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: #4586FF;
      height: 2px;
      content: " "; }
  .ftco-cover .ftco-vh-100 {
    min-height: 700px !important; }

.ftco-slant {
  position: relative;
  overflow: hidden; }
  .ftco-slant:after {
    width: 120%;
    height: 200px;
    left: -10%;
    background: #f2f2f2;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    content: "";
    position: absolute;
    bottom: -100px; }
    @media screen and (max-width: 960px) {
      .ftco-slant:after {
        bottom: -150px; } }
    @media screen and (max-width: 768px) {
      .ftco-slant:after {
        bottom: -170px; } }
  .ftco-slant.ftco-slant-white:after {
    background: #fff; }

.ftco-uppercase {
  letter-spacing: .1em;
  font-size: 30px; }

.btn {
  border-radius: 4px;
  padding: 20px 30px;
  font-size: 14px;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer; }
  .btn.btn-sm {
    padding: 10px 20px;
    font-size: 12px; }
  .btn:before {
    display: none; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn.btn-primary {
    background: #4586FF;
    border-color: #4586FF;
    color: #fff; }
    .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
      border-color: #1265ff;
      background: #1265ff; }

.ftco-vh-100 {
  height: 100vh; }
  @media screen and (max-width: 960px) {
    .ftco-vh-100 {
      height: inherit;
      padding-top: 5em;
      padding-bottom: 5em; } }

.ftco-animate {
  opacity: 0;
  visibility: hidden; }

.ftco-section,
.ftco-footer {
  padding: 7em 0 7em 0; }
  .ftco-section.ftco-slant {
    padding: 7em 0 22em 0; }
  .ftco-section.bg-light {
    background: #f2f2f2 !important; }

.ftco-bg-dark {
  background: #263135; }

.ftco-footer {
  font-size: 16px; }
  .ftco-footer p {
    color: rgba(255, 255, 255, 0.3); }
  .ftco-footer a {
    color: rgba(255, 255, 255, 0.3); }
    .ftco-footer a:hover {
      color: #4586FF; }

.ftco-media {
  background: #fff;
  border-radius: 5px; }

.ftco-owl {
  position: relative;
  z-index: 1; }

#ftco-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000; }

#ftco-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

#ftco-loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1; }

#ftco-loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

#ftco-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round; }

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }

    .footer {
      text-align: center;
      color: #ccc;
      font-size: 20px;
    }

    .ftco-owl {
      position: relative;
      z-index: 1; }
      .ftco-owl .owl-nav {
        position: absolute;
        top: 50%;
        margin-top: -50px;
        z-index: 10;
        left: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        .ftco-owl .owl-nav .owl-prev,
        .ftco-owl .owl-nav .owl-next {
          position: absolute;
          font-size: 30px;
          background: #4586FF;
          color: #fff;
          padding: 10px;
          line-height: 0; }
        .ftco-owl .owl-nav .owl-prev {
          left: 0; }
        .ftco-owl .owl-nav .owl-next {
          right: 0; }
      .ftco-owl .owl-dots {
        position: relative;
        text-align: center;
        margin-top: 30px; }
        .ftco-owl .owl-dots .owl-dot {
          display: inline-block;
          zoom: 1; }
          .ftco-owl .owl-dots .owl-dot span {
            width: 10px;
            height: 10px;
            background: #ccc;
            border-radius: 50%;
            display: inline-block;
            margin: 5px 7px; }
          .ftco-owl .owl-dots .owl-dot.active span {
            background: #4586FF; }
      .ftco-owl:hover .owl-nav {
        visibility: visible;
        opacity: 1; }
    
